<div class="container">
    <mat-selection-list cdkDropList (cdkDropListDropped)="drop($event)" class="list-container">
        <p class="list-container-p">
            <label>Id</label>
            <label>Nome</label>
            <label class="list-container-p-label-spacer">Custo</label>
            <label class="list-container-p-label-spacer">Data limite</label>
            <label class="list-container-p-label-spacer">Opções</label>
        </p>
        @for (task of tasks; track task) {

        <mat-list-item cdkDrag>
            <div *cdkDragPlaceholder class="list-item-placeholder"></div>
            <div class="list-item">
                <label class="label-id"> {{task.id}} </label>
                <label> {{task.name}} </label>
                <label> {{task.cost}} </label>
                <label> {{task.deadline | date:'dd/MM/yyyy' }} </label>

                <div class="list-buttons">
                    <button mat-mini-fab (click)="openEditDialog(task.id, task.name,task.cost,task.deadline)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-mini-fab>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-item>
        }
    </mat-selection-list>
    <div class="buttons">
        <button mat-raised-button (click)="openNewDialog()">Incluir </button>
    </div>
</div>