<div class="container">
    <mat-selection-list cdkDropList (cdkDropListDropped)="drop($event)" class="list-container">
        <p class="list-container-p">
            <label>Id</label>
            <label>Nome</label>
            <label>Custo</label>
            <label>Data limite</label>
            <label>Opções</label>
        </p>
        @for (task of tasks; track task.id) {
            <mat-list-item cdkDrag [ngClass]="{'costColor':task.cost >= 1000}">
                <div *cdkDragPlaceholder class="list-item-placeholder"></div>
                <div class="list-item">
                    <label class="label-id"> {{task.id}} </label>
                    <label> {{task.name}} </label>
                    <label> {{task.cost | currency: 'BRL'}} </label>
                    <label> {{task.deadline | date:'dd/MM/yyyy' }} </label>
    
                    <div class="list-buttons">
                        <button mat-icon-button (click)="openEditDialog(task.id, task.name,task.cost,task.deadline)">
                            <mat-icon class="icon">edit</mat-icon>
                        </button>
    
                        <button mat-icon-button (click)="deleteDialog(task.id, task.name)">
                            <mat-icon class="icon">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        }
    </mat-selection-list>
    <div class="buttons">
        <button mat-raised-button (click)="openNewDialog()">Incluir </button>
    </div>
</div>