body {
    overflow: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 70vw;
    border: 1px solid rgb(196,39,63);
    border-radius: 10px;
}

.list-container-p {
    display: flex;
    justify-content: space-around;
    color: black;
}

.list-item {
    display: flex;
    justify-content: space-around;
    color: black;
}

.list-item-placeholder {
    background: #ccc;
    border: 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-buttons {
    display: flex;
    gap: 10px;
    width: 10%;
}

.list-buttons > button {
    background-color: rgb(196,39,63);
}

.list-item > label {
    width: 50%;
}

.label-id {
    margin-left: 8%;
    margin-right: -8%;
}

.list-container-p > label{
    margin-left: 5%;
}

.list-container-p-label-spacer {
    margin-left: 10% !important;
    margin-right: -2%;
}

.buttons > button{
    background-color: rgb(196,39,63);
    color: white;
}

.icon {
    color: white;
}

.costColor {
    background-color: #f0e963;
}